<html>
<head>
    <title>Titel</title>
    <link rel="stylesheet" href="assets/css/bootsketch.css" />
    <link rel="stylesheet" href="assets/css/phpShop.css" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="index.php">PHP-Shop</a></li>
                <li><a href="korb.php">Warenkorb</a></li>
                <li><a href="kasse1.php">Kasse</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>