{% extends 'base.twig' %}

{% block content %}
    <h2>Produkte</h2><hr/>
    <div class="waren">

    {% for ware in waren %}
        <div class="ware">


    <div class="panel">
        <div class="panel-heading">
            {{ ware.bezeichnung }}
            <span class="pull-right">
                <a href="../setkorb.php?id={{ ware.id }}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            </span>
        </div>
        <div class="panel-body">
            <ul type="square">
                <li>Preis:</li>
                <ul>
                    <li>Euro {{ ware.preis }}</li>
                </ul>
                <li>Genaue Beschreibung:</li>
                <ul>
                    <li> {{ ware.beschreibung }}</li>
                </ul>
            </ul>
        </div>
    </div>

        <br>
        </div>
    {% endfor %}
    </div>

{% endblock %}
