{% extends 'base.twig' %}

{% block content %}
    <h2>Kasse</h2>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <td>Art.-Nr.</td>
                <td>Bezeichnung</td>
                <td>Preis</td>
            </tr>
        </thead>
        <tbody>
        {% for ware in waren %}
            <tr>
                <td>{{ ware.id }}</td>
                <td>{{ ware.bezeichnung }}</td>
                <td> {{ ware.preis }} Euro</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <em>keine waren im Korb</em>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="4">
                    <b>Gesamtpreis (inkl. aller Zusatzgeb&uuml;hren): {{ preis }} Euro</b>
                </td>
            </tr>
        </tbody>
    </table>

    <form action="kasse2.php" method="POST">
        <input type="submit" class="formsubmit" name="submit" value="Abschlie&szlig;en">
    </form>
{% endblock %}
