{% extends 'base.twig' %}

{% block content %}
    {% for msg in msgs %}
        <p>{{ msg }}</p>
    {% endfor %}
    <p>
        <a href="korb.php">Zum Warenkorb</a>
    </p>
    <p>
        <a href="index.php">Zu den Produkten</a>
    </p>
{% endblock %}
